
*{
    color: white;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: black;
}

.black{
    color: black;
}

.white{
    color: white;
    text-decoration: none;
}

.white:hover{
    color: #d3ad7f
}



.max{
    max-width: 80%;
}

.w-100{
    width: 100%;
}

.w-80{
    width: 80%;
}
.w-50{
    width: 50%;
}

.gray{
    background:rgba(33, 36, 41, 1);
}

.card-18{
    width: 18rem;
}

.boton{
    background-color:#d3ad7f;
    padding: 6px;
    width: 10%;
    color: black;
    font-weight: bold;
}

.boton:hover{
    background-color: #c7a275;
}

.contenedor{
    padding: 50px;
    margin: 25px auto;
    width: 80%;
    border: 1px solid #c7a275;
}

.color{
    color: #d3ad7f;
}

.color-bg{
    background-color: #d3ad7f;
}
.color-bg:hover{
    background-color: #c7a275;
}

.AjusteRelativ{
    top: 30%;
    left: 30%;
}

.header nav ul{
    animation-duration: 2s;
    animation-name: slide;
}



@keyframes slide {
    0% {
        margin-left: 150%;
    }

    50% {
        margin-left: 0%;
    }

    65% {
        margin-left: 1%;
    }

    100% {
        margin-left: 0%;
    }
}